<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Debug" internalLogFile="/var/log/app/nlog-internal.log" throwExceptions="true">
  <extensions>
    <add assembly="NLog.Targets.KafkaAppender" />
  </extensions>
  <variable name="logDir" value="/var/log/app" />
  <targets>
    <target xsi:type="File" name="file" fileName="${var:logDir}/orderservice.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}"
            keepFileOpen="false" archiveEvery="Day" archiveNumbering="Date" maxArchiveFiles="1" />
    <target xsi:type="KafkaAppender" name="kafka" 
            topic="app-logs" 
            brokers="kafka:9092" 
            async="true">
      <layout xsi:type="JsonLayout" includeAllProperties="true">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=ToString}" />
        <attribute name="app" layout="orderservice" />
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="file,kafka" />
  </rules>
</nlog>
